---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: 'Roboto', Helvetica, sans-serif;
$h-font-family: 'Josefin Sans', 'Roboto Condensed', Helvetica, Arial, sans-serif;
$base-font-size:   1.1rem;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.6;

$spacing-unit:     10px;

$text-color: #332200;
$background-color: #F5F6F0;
$brand-color: #424242;
$primary-color:	#B0BF24;
// $primary-color:	black;
$secondary-color:	#F85000;
$link-color:#523300;



$grey-color:       #523300;
$grey-color-light: lighten($grey-color, 10%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          790px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (min-width: $device) {
        @content;
    }
}

@mixin impt-font {
  font-family: $h-font-family;
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  padding: 0 30px;
  font-weight: 600;
}

@mixin title {
  font-family: $h-font-family;
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: 700;
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "reset",
        "base",
        "layout",
        "syntax-highlighting",
        "responsive-nav",
        "bourbon"
;


.order {
  @include border-top-radius(50%);
  @include border-right-radius(50%);
  @include border-bottom-radius(50%);
  @include border-left-radius(50%);
  background: $primary-color;
  width: 150px;
  height: 150px;
  float: right;
  padding-top: 45px;
   box-sizing:border-box;
   text-align: center;
   margin-top: -200px;
   webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; 
   opacity: 0.9;
  a h3 {
  @include impt-font;
  text-align: center;
  line-height: 1.3;
  webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; 

}
  
  &:hover {
    opacity: 1;
  a h3{
    color: white;}
    }

}


	h1 {
	font-size: 2rem;

	@include media-query($on-laptop) {
	    font-size: 3rem;
	}
	}
    h2 {
        font-size: 2rem;

        @include media-query($on-laptop) {
            font-size: 2.5rem;
        }
    }

  h3 {
      font-size: 1rem;

      @include media-query($on-laptop) {
      font-size: 1.3rem;
      }
  }


    h4 {
        font-size: 1rem;
        color:$primary-color;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
        @include media-query($on-laptop) {
        font-size: 1.5rem;
        }
    }

// grids
$col: 4.6%;
$gut: 4%;

@mixin grid($cnum) {
  width: ($col*$cnum)+($gut*(($cnum)-1));
  float: left;
  margin-right: $gut;
  margin-bottom: 3rem;
  box-sizing:border-box;
}

.col1, .col2, .col5, .col7, .col8, .col9 { 
    width:100%;
    margin-bottom: 1rem;
}


.col6 { 
    width:100%;
    margin-bottom: 1rem;
    // min-height: 200px;
}

.col3  { 
    width:100%;
    margin-bottom: 1rem;
    // min-height: 200px;
}

.col4  { 
    width:100%;
    margin-bottom: 1rem;
    // min-height: 200px;
}

.col12 { 
    width:100%;
    margin-bottom: 3rem;
}



.col8 {
  border-top: 1px solid black;
  // padding-top: 30px;
  margin-top: 50px;
}


@media screen and (min-width: $on-palm) {
  
.col1 {
  @include grid(1);
}
.col2 {
  @include grid(2);
}

.col3 {
  @include grid(3);
  &:last-of-type {
    margin-right: 0;
    
  }

}

.col4 {
  @include grid(4);
  margin-bottom: 2rem;
  &:last-of-type {
    margin-right: 0;
    
  }
}

.col5 {
  @include grid(5);
}

.col6 {
  @include grid(6);
  &:last-of-type {
    margin-right: 0;
    margin-bottom: 2rem;
  }
  position: relative;
}

.col7 {
  @include grid(7);
}

.col8 {
  @include grid(8);
  margin-right: 0;
}

.col9 {
  @include grid(9);
}

// div:last-of-type {
//   margin-right: 0;
// }
.col12 {
  @include grid(12);
}
}

.main {
  background: linear-gradient(rgba(248,80,0,0.2), rgba(248,80,0,0.2)),url(http://i.imgur.com/F0LJgW1.jpg) no-repeat center center, $secondary-color;
  
	background-size: cover;
	height: 350px;
  margin-bottom:40px;
  padding-top: 2rem;
	h1 {
		// color:$primary-color;
		color: white;
		font-size: 4rem;
		text-transform: uppercase;
		letter-spacing: 1rem;
		font-weight: bold;
		// &:nth-of-type(1) {
		// 	color:$primary-color;
		// }
	}
	}



// .main {
// 	background: rgba(255,255,255,1);
// 	background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(250,250,250,0) 100%),url(http://i.imgur.com/C1kOhCx.jpg) no-repeat center center;
// 	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(250,250,250,0))),url(http://i.imgur.com/C1kOhCx.jpg) no-repeat center center;
// 	background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(250,250,250,0) 100%),url(http://i.imgur.com/C1kOhCx.jpg) no-repeat center center;
// 	background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(250,250,250,0) 100%),url(http://i.imgur.com/C1kOhCx.jpg) no-repeat center center;
// 	background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(250,250,250,0) 100%),url(http://i.imgur.com/C1kOhCx.jpg) no-repeat center center;
// 	background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(250,250,250,0) 100%),url(http://i.imgur.com/C1kOhCx.jpg) no-repeat center center;
//   background-size:cover;
//   height: 500px;
//   // &:hover {
//   //   background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("http://xinyudesign.com/images/work/ed2015/iMac.png") no-repeat center center;
//   // background-size:400px;

// }



.logo {
  display: block;
  float: left;
  width: 150px;
  // margin: 40px 0;
}

.social {
  background: $grey-color;
  opacity: 0.7;
}

.logosm {
  display: block;
  float: left;
  text-align: center;
  font-size: 0.8rem;
  color:white;
  width: 122px;
  // margin: 0 auto;
  margin-bottom: $spacing-unit;
  padding-bottom: $spacing-unit;
  line-height: 0.5;
  span{
    font-family: 'Berkshire Swash', cursive;
    font-size: 2rem;
    display: block;
    text-align: center;
    letter-spacing: 0.1rem;
    line-height: 50px;
}
}

.nav-collapse a { 

  display: inline-block; letter-spacing: 0.1em; position:relative; 
  border-bottom: white 3px solid; 
}

.nav-collapse a:before { position: absolute; right: 0; bottom: -3px; left: 0px; display: block; 
  border-bottom: transparent 3px solid; 
  content: ""; z-index: 2; webkit-transition: all 0.3s ease; -moz-transition: all 0.3s ease; -o-transition: all 0.3s ease; transition: all 0.3s ease; -webkit-transform: translate(-100%, 0px); -moz-transform: translate(-100%, 0px); -o-transform: translate(-100%, 0px); -ms-transform: translate(-100%, 0px); transform: translate(-100%, 0px); }
.nav-collapse a:hover:before { border-bottom: $primary-color 3px solid;
  -webkit-transform: translate(0%, 0%); -moz-transform: translate(0%, 0%); -o-transform: translate(0%, 0%); -ms-transform: translate(0%, 0%); transform: translate(0%, 0%); }

.menusm {
  border: 5px white solid;
  height: 150px;
  // webkit-transition: all 0.3s ease; -moz-transition: all 0.3s ease; -o-transition: all 0.3s ease; transition: all 0.3s ease; 
  opacity: 1;
  // &:hover {

  //   border: 5px $primary-color solid;
  //   opacity: 1;}
}

.menumd {
  border: 5px white solid;
  min-height: 150px;
  // webkit-transition: all 0.3s ease; -moz-transition: all 0.3s ease; -o-transition: all 0.3s ease; transition: all 0.3s ease; 
  // opacity: 0.8;
  // &:hover {

  //   border: 5px $primary-color solid;
  //   opacity: 1;}
}

.menupic {
  height: 150px;
}

.card {
  background: $primary-color;
  min-height: 200px;
  h4 {
    color: white;
    text-align: center;
    padding: 70px 0;
    // line-height: 180px;
  }
}

.sm1 {
  background: linear-gradient(rgba(248,80,0,0.1), rgba(248,80,0,0.1)),url(http://xinyudesign.com/tik/img/menusm1.jpg) no-repeat center center;
  background-size: cover;
}
  
.sm2 {
  background: linear-gradient(rgba(248,80,0,0.1), rgba(248,80,0,0.1)),url(http://xinyudesign.com/tik/img/menusm2.jpg) no-repeat center center;
  background-size: cover;
}

.sm3 {
  background: linear-gradient(rgba(248,80,0,0.1), rgba(248,80,0,0.1)),url(http://xinyudesign.com/tik/img/menusm3.jpg) no-repeat center center;
  background-size: cover;
}

.sm4 {
  background: linear-gradient(rgba(248,80,0,0.1), rgba(248,80,0,0.1)),url(http://xinyudesign.com/tik/img/menusm4.jpg) no-repeat center center;
  background-size: cover;
}

.loc {
  font-family: $h-font-family;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  font-weight: 600;

}

.about1 {
  background: linear-gradient(rgba(248,80,0,0.1), rgba(248,80,0,0.1)),url(http://xinyudesign.com/tik/img/about1.jpg) no-repeat center center;
  background-size: cover;
  height: 500px;
}

.menuitem {
  h5 {
    font-family: $h-font-family;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    font-weight: 600;
    float: left;
    width: 80%;
    padding-top: 10px;
    line-height: 1.5;
  }
  h6 {
    float: right;
    width: 20%;
    color: $secondary-color;
    font-size: 1.2rem;
    font-weight: 600;
    padding-top: 8px;
    
  }
  p {
    font-size: 0.9rem;

  }
}

.menu_main {
  section {
    clear: both;
  }
}

.phone {
  font-style: oblique;
  letter-spacing: 0.05rem;
  font-weight: bold;
}

.social2 {
  padding-top: 2rem;
  float: right;
  li {
    display: inline-block;
    // background: white;
    width: 40px;
    height: 40px;
    //   @include border-top-radius(50%);
    // @include border-right-radius(50%);
    // @include border-bottom-radius(50%);
    // @include border-left-radius(50%);

  }
}

.contact {
  padding: 2rem 0;
}

.space {
  color:transparent;
}

#menu_icon {
  width:30px;
  height: 30px;
  position: fixed;
  right:$spacing-unit;
  top:50px;
  display: block;
  background: url(http://xinyudesign.com/tik/img/menuicon.svg);
  background-size: cover;
  cursor: pointer;
  @include media-query($on-laptop) {
      display: none;
  }
}

.btn {
  display: block;
  float: right;
  padding: 10px 20px 8px;
  font-family: $h-font-family;
          font-size: 1rem;
          text-transform: uppercase;
          letter-spacing: 0.05rem;
          font-weight: 700;
          margin-bottom: 1rem;
          background: $primary-color;
}

.icon {
  height: 25px;
  width: 25px;
}

// * {
//    border: 1px solid red !important;
// }
