<footer class="site-footer">



  <div class="wrapper">  
    <div class="logosm"><span>tarka</span><br>INDIAN KITCHEN</div>
    <section>
    <div class="col4"><h6>OPEN</h6></div>
    <div class="col4"><h6>LOCATIONS</h6></div>
    <div class="col4"></div></section>
    <section>

    <section>
    <div class="col4">SUN – THU: 11:00am – 9:00pm<br>FRI – SAT: 11:00am – 10:00pm</div>
  <div class="col4">SOUTH AUSTIN<br>5207 Brodie Ln<br>Austin, TX 78745<br>(512) 892-2008</div>

    <div class="col4">NORTH AUSTIN<br>2525 W. Anderson Ln<br>Austin, TX 78757<br>(512) 323-0955</div>
    </section>

        <section>
    <div class="col4"></div>
  <div class="col4">ROUND ROCK<br>201 University Blvd<br>Round Rock, TX 78665<br>(512) 246-1922</div>
    <div class="col4">SAN ANTONIO<br>2427 N. Loop 1604 W<br>San Antonio, TX 78232<br>(210) 499-0982</div>
    </section>

  </div>

</footer>

<script>
  var nav = responsiveNav(".nav-collapse");
</script>

