<footer class="site-footer">



  <div class="wrapper contact">  
    
    <section>
    <div class="col4"><h6>OPEN</h6>SUN – THU: 11:00am – 9:00pm<br>FRI – SAT: 11:00am – 10:00pm</div>
  <div class="col4"><h6>LOCATIONS</h6><span class="loc">SOUTH AUSTIN</span><br>5207 Brodie Ln<br>Austin, TX 78745<br><span class="phone">(512) 892-2008</span></div>

    <div class="col4"><span class="loc"><h6 class="space">.</h6>NORTH AUSTIN</span><br>2525 W. Anderson Ln<br>Austin, TX 78757<br><span class="phone">(512) 323-0955</span></div>
    </section>

        <section>
    <div class="col4"></div>
  <div class="col4"><span class="loc">ROUND ROCK</span><br>201 University Blvd<br>Round Rock, TX 78665<br><span class="phone">(512) 246-1922</span></div>
    <div class="col4"><span class="loc">SAN ANTONIO</span><br>2427 N. Loop 1604 W<br>San Antonio, TX 78232<br><span class="phone">(210) 499-0982</span></div>
    </section>

  </div>

  <div class="social">

       <div class="wrapper">  
      <div class="logosm"><span>tarka</span><br>INDIAN KITCHEN</div>
      <ul class="social2">
        <li>
            <a target="_blank" href="https://www.facebook.com/tarkaindiankitchen" class="">
                <i class="icon fb">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20" height="24" >
                        <desc>Created with Avocode</desc>
                        <path d="M 3.06 23.07 L 3.06 11.87 L 0.26 11.87 L 0.26 8.02 L 3.06 8.01 L 3.06 5.74 C 3.06 2.59, 3.91 0.67, 7.61 0.67 L 11.43 0.67 L 11.43 4.54 L 8.76 4.54 C 7.32 4.54, 7.26 5.08, 7.26 6.08 L 7.25 8.01 L 11.46 8.01 L 11.06 11.87 L 7.25 11.87 L 7.25 23.07 L 3.06 23.07 Z" fill="#ffffff" />
                    </svg>
                </i>
            </a>
        </li>
        <li>
            <a target="_blank" href="https://twitter.com/tarkarestaurant" class="">
                <i class="icon tw">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="30" height="20" >
                        <desc>Created with Avocode</desc>
                        <path d="M 21.46 3.52 C 22.4 3.38, 23.32 3.13, 24.2 2.75 C 23.59 3.67, 22.79 4.5, 21.81 5.24 L 21.81 5.85 C 21.81 8.06, 21.3 10.18, 20.29 12.21 C 19.27 14.25, 17.69 15.97, 15.56 17.38 C 13.42 18.79, 10.96 19.49, 8.18 19.49 C 5.46 19.49, 3.01 18.78, 0.8 17.35 C 1.03 17.39, 1.42 17.4, 1.97 17.4 C 4.21 17.4, 6.19 16.72, 7.92 15.37 C 6.87 15.34, 5.94 15.01, 5.13 14.4 C 4.31 13.79, 3.75 12.99, 3.45 12.01 C 3.62 12.08, 3.91 12.11, 4.31 12.11 C 4.75 12.11, 5.18 12.06, 5.58 11.96 C 4.46 11.72, 3.55 11.16, 2.83 10.28 C 2.12 9.4, 1.77 8.39, 1.77 7.18 C 2.38 7.51, 3.09 7.72, 3.91 7.79 C 2.48 6.81, 1.77 5.46, 1.77 3.77 C 1.77 2.95, 1.99 2.15, 2.43 1.37 C 5.04 4.57, 8.35 6.23, 12.35 6.36 C 12.25 6.06, 12.2 5.7, 12.2 5.3 C 12.2 3.98, 12.66 2.84, 13.59 1.91 C 14.53 0.98, 15.67 0.51, 17.03 0.51 C 18.42 0.51, 19.57 1.01, 20.49 1.99 C 21.5 1.79, 22.52 1.41, 23.54 0.87 C 23.2 1.99, 22.51 2.87, 21.46 3.52 Z" fill="#ffffff" />
                    </svg>
                </i>
            </a>
        </li>
        
    </ul>
    </div>
  </div>

  


</footer>

<script>
  var nav = responsiveNav(".nav-collapse");
</script>

