<header class="site-header">
  <div class="wrapper">
    
    <a href="{{ site.baseurl }}/"><img class="logo" src="http://i.imgur.com/oLziwvU.png" width="170" alt="tarka Indian Kitchen" title="tarka" /></a>
<!--     <ul id="navUtility">
      <li>Sun–Thu/11:00am−9:00pm Fri–Sat/11:00am−10:00pm</li>
    </ul> -->


    <div id="menu_icon"></div>
  <nav class="nav-collapse">
    

        <ul>
          <li><a class="page-link" href="/tik/menu/">menu</a></li>
          <li><a class="page-link" href="/tik/about/">about</a></li>
        </ul>
        
  </nav></div>
</header>