/**
 * Site header
 */
.site-header {
    // height: 56px;
    padding: $spacing-unit 0;
    width: 100%;
    // Positioning context for the mobile navigation icon
    // position: fixed;
    // background: linear-gradient(rgba(20,183,236,0.3), rgba(20,183,236,0.3));
    // background: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.8));
    // border-top: 2px $primary-color solid;
}

#site-title {
    font-size: 3rem;
    font-family: 'Berkshire Swash', cursive;
    letter-spacing: 0.15rem;
    color: $secondary-color;
    // color: white;
    position: fixed;
    left: $spacing-unit;
    top: 18px;
}


/**
 * Site footer
 */
.site-footer {
    background: #EDEADE;
    // background: linear-gradient(rgba(20,183,236,0.5), rgba(20,183,236,0.5));
    clear: both;
    padding: $spacing-unit 0;
    border-top: 3px white solid;
    // color: white;
    font-size: 0.9rem;
    h6 {
        font-family: $h-font-family;
          font-size: 1.2rem;
          text-transform: uppercase;
          letter-spacing: 0.05rem;
          font-weight: 700;
    }
    .col4 {
        vertical-align: bottom;
    }
 }

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }





.footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }


@include media-query($on-laptop) {
    .footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}
}

@include media-query($on-palm) {
    .footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    // margin-bottom: $spacing-unit;
}

.post-title {
    background: #E4E4CC;

    @include title;
    padding-top: $spacing-unit;
    @include media-query($on-laptop) {
        font-size: 2rem;
    }
}


