/*! responsive-nav.js 1.0.39 by @viljamis */

.nav-collapse ul {
  margin: 0 auto;
  padding: 0;
  display: inline-block;
  list-style: none;
  height: 80px;
}

.nav-collapse li {
  display: inline-block;
  height: 80px;
  // border-left: 1px $link-color solid;
  // &:first-of-type {
  //   border-right: 1px $link-color solid;
  // }

}

.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
}

.nav-collapse.opened {
  max-height: 9999px;
}

.nav-toggle {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

@media screen and (min-width: 40em) {
  .js .nav-collapse {
    position: relative;
    width: 70%;
    float: right;
    // margin: 0 auto;
    // background: #ABB94B;
    li {
      text-align: center;
    }
    a {
      font-family: $h-font-family;
      font-size: 1rem;
      text-transform: uppercase;
      letter-spacing: 0.1rem;
      line-height: 79px;
      padding: 0 30px;
      // color: #523300;
      font-weight: 600;

    }
  }
  .js .nav-collapse.closed {
    max-height: none;
  }
  .nav-toggle {
    display: none;
  }
}
