/*! responsive-nav.js 1.0.39 by @viljamis */

.nav-collapse ul {
  padding: 0;
  width: 150px;
  display: block;
  list-style: none;
  // float: left;
  position: fixed;
  right: $spacing-unit;
}

.nav-collapse li {
  // width: 100%;
  display: inline-block;
  background: $secondary-color;
  // border-top: 2px solid #999;
  margin-right: 10px;
  text-align: right;
  float: right;
  a {
    font-family: $h-font-family;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    color: white;
    padding: 5px 10px;
  }
}

.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
}

.nav-collapse.opened {
  max-height: 9999px;
}

.nav-toggle {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

@media screen and (min-width: 40em) {
  .js .nav-collapse {
    position: relative;
  }
  .js .nav-collapse.closed {
    max-height: none;
  }
  .nav-toggle {
    display: none;
  }
}
