<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

  {% include header.html %}
<!-- <div class="col12 main">
  <div class="wrapper"><h1>Fresh</h1><h1>Fast</h1><h1>Flavorful</h1></div>
   </div> -->

<div class="main">
  <div class="wrapper">
  <h1>Fresh Fast Flavorful</h1>

  <div id="weeklyLunch" class="col3">
  <h2 class="ttlStyle3" id="ttlTopWlunch">Order Online</h2>
  <!-- / #weeklyLunch --></div>

  </div>
</div>
<div class="wrapper">


</div>

    {% include footer.html %}

  </body>

</html>
