<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

  {% include header.html %}
<!-- <div class="col12 main">
  <div class="wrapper"><h1>Fresh</h1><h1>Fast</h1><h1>Flavorful</h1></div>
   </div> -->

<div class="main">
  <div class="wrapper">
      <h1>Fresh</h1>
      <h1>Fast</h1>
      <h1>Flavorful</h1>

      <div class="order"><a href="#">
      <h3>Order Online</h3></a></div>
  </div>
</div>

<div class="wrapper">
  <!-- <h4>FEATURED ENTREES</h4> -->

  <section>
    <div class="col3"><h4>CURRIES</h4>
      <div class="menusm sm1">
      </div>
      Six delicious curries sautéed with your choice of Chicken, Lamb, Vegetables, Paneer or Shrimp. Spiced to order and served with basmati rice.
    </div>

    <div class="col3"><h4>KABOBS</h4>
      <div class="menusm sm2">
      </div>
      Juicy & flavorful grilled entrees, served with fresh vegetables, basmati rice and a delicious chutney made with mint tamarind & yogurt.
    </div>

     <div class="col3"><h4>BIRYANIS</h4>
      <div class="menusm sm3">
      </div>
        Basmati rice stir fried with garlic, ginger, onions, spices, and choice of protein. Spiced to order and served with a yogurt-cucumber sauce.

    </div>

    <div class="col3"><h4>VEGETARIAN</h4>
      <div class="menusm sm4">
      </div>
     An amazing selection of fresh vegetarian and vegan dishes spiced and served with perfectly cooked and seasoned basmati rice.
    </div>

  </section>

  <section>
    <div class="col12"><h6 class="btn">see our menu</h6>
    </div>

  </section>



</div>

    {% include footer.html %}

  </body>

</html>
