<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

  {% include header.html %}
<!-- <div class="col12 main">
  <div class="wrapper"><h1>Fresh</h1><h1>Fast</h1><h1>Flavorful</h1></div>
   </div> -->

<div class="main">
  <div class="wrapper">
      <h1>Fresh</h1>
      <h1>Fast</h1>
      <h1>Flavorful</h1>

      <div class="order"><a href="#">
      <h3>Order Online</h3></a></div>
  </div>
</div>

<div class="wrapper">
  <h4>Menu</h4>

  <section>
    <div class="col3 menusm sm1">
    </div>

    <div class="col3 menusm sm2">
    </div>

    <div class="col3 menusm sm3">
    </div>

    <div class="col3 menusm sm4">
    </div>

  </section>



</div>

    {% include footer.html %}

  </body>

</html>
